main {
    display: table; /* prevent margin overflow */
    width: 100%;
    min-height: 100vh;
}


.container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

figure {
    clear: both;
    margin: 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f9f9f9;

    /* if calc is supported than this will make it span the entire page width */
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
}

pre .s1,
pre .s {
    color: indianred;
}

.container:before, .container:after {
    content: "";
    clear: both;
    display: table;
}

.page-header {
    margin: 0 auto;
}

.page-header__logo {
    display: inline-block;
    padding: 1rem;
    margin: 0;
}

.page-footer {
    min-height: 3rem;
    margin-top: 3rem;
    padding: 1rem 0;

    background-color: #333;
    /*border-top: 1px solid black;*/
    /*box-shadow: 0 .3em .3em -.3em rgba(0,0,0,1) inset, 0 0 2em rgba(0,0,0,.2) inset;*/

    color: white;
    font-size: .7em;
}

.page-footer__copyright {
    display: block;
    float: left;
}

.page-footer__copyright > span {
    display: inline-block;
}

.page-footer__nav {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-footer__nav > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media (min-width: 65em) and (min-height: 30em) {
    .page-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 13rem;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .page-header__logo {
        display: block;
        text-align: right;
        padding: 2rem 0 1rem;
        margin: 0;
        font-size: 2rem;
    }

    .container {
        margin-left: 14rem;
        margin-right: auto;
    }

    figure {
        width: 100vw;
        margin-left: 0;
        padding-left: 1rem;
        background-image: linear-gradient(to right, #f9f9f9, #f9f9f9 40rem, #ffffff);
    }
}