$content-size: 40rem;
$desktop-sidebar-size: 14rem;
$desktop-sidebar-min-width: $desktop-sidebar-size + $content-size + 1rem;
$desktop-sidebar-min-height: 30rem;
$background-color: snow;

body {
    @media screen
    and (min-width: $desktop-sidebar-min-width)
    and (min-height: $desktop-sidebar-min-height) {
        padding-left: $desktop-sidebar-size;
    }
}

amp-img, img {
    max-width: 100%;
    height: auto;
}

figure {
    // i don't expect a h1 here ever
    > h2:first-child,
    > h3:first-child {
        margin-top: 0;
    }
}

@media screen {
    div.highlighter-rouge,
    figure {
        clear: both;
        margin: 1rem 0;
        padding: 1rem;
        overflow: auto;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;

        + figure,
        + div.highlighter-rouge {
            border-top: none;
            margin-top: -1rem;
        }
    }

    .page-content {
        > p,
        > ul, > ol,
        > h1, > h2, > h3,
        > amp-img, > noscript > img {
            box-sizing: border-box;
            max-width: $content-size;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        @media (max-width: 42rem) {
            // if a page content (an image) is wide enough:
            // stretch it over the entire screen width
            [sizes*="(max-width:42rem)100vw"] {
                display: block;
                margin-left: 0;
                margin-right: 0;
                width: 100vw;
            }
        }
    }
}

.highlighter-rouge .c, // comments
.highlighter-rouge .c1, // inline comment
.highlighter-rouge .c2, // multi line comment
.highlighter-rouge .sd // doc comment
{
    color: darkgray;
}

.highlighter-rouge .s, // strings
.highlighter-rouge .s1, // single quote strings
.highlighter-rouge .s2, // double quote strings
.highlighter-rouge .k, // keywords
.highlighter-rouge .nv // variables
{
    color: indianred;
}

.language-yaml .s, // strings
.language-yaml .s1, // single quote strings
.language-yaml .s2, // double quote strings
.language-yaml .nv, // keywords
.language-yaml .nv // variables
{
    color: inherit;
}

.highlighter-rouge .k + .nv // don't highlight variables after a keyword
{
    color: inherit
}

.page-header {
    margin: 0 auto;

    &__logo {
        display: inline-block;
        padding: 1rem;
        margin: 0;
        font-size: 1.5rem;
    }

    @media screen
    and (min-width: $desktop-sidebar-min-width)
    and (min-height: $desktop-sidebar-min-height) {
        position: fixed;
        left: 0;
        top: 0;
        width: $desktop-sidebar-size;
        height: 100%;
        padding: 1rem 0;
        box-sizing: border-box;

        // hack to make chrome create a layer
        backface-visibility: hidden;

        &__logo {
            display: block;
            float: right;
            padding: 1rem;
            font-size: 2rem;
        }
    }

    @media print {
        display: none;
    }
}

.page-footer {
    min-height: 3rem;
    margin-top: 3rem;
    padding: 1rem 1rem;
    max-width: 40rem;
    font-size: .8em;

    &__copyright {
        display: block;
        float: left;
    }

    &__copyright > span {
        display: inline-block;
    }

    &__nav {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__nav > li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}