body {
    margin: 0;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;

    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    /* better font rendering on osx */
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

.roboto-loaded body {
    font-family: "Roboto", sans-serif;
}

strong, b {
    /* since i use bold so rarely I decided that loading an extra font weight would be a waste. */
    /* In this case, I prefer platform consistency over style which is why I prefer Arial here. */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

pre, code {
    font-family: "Courier New", monospace;
    font-size: 1rem;
}

h1, h2, h3, .headline {
    font-family: "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.1;
    color: indianred;
    margin-top: 2rem;
    margin-top: calc(4.1rem - 1.05em); /* adjust for font size */
    margin-bottom: .2rem;
    /* todo fix ankers */
}

.josefin-slab-loaded h1,
.josefin-slab-loaded h2,
.josefin-slab-loaded h3,
.josefin-slab-loaded .headline {
    font-family: "Josefin Slab", serif;
    /* I only load a 600 version of Josefin Slab */
    /* but since the fallback fonts look too bold with that weight i don't define it correctly here. */
    /* since only one weight is loaded anyways the browser will use that one. */
    /* font-weight: 600; */
}

h1 + h2, h2 + h3 {
    margin-top: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

a {
    color: indianred;
    text-decoration: none;
    -webkit-tap-highlight-color: transparentize(indianred, 0.8);
}

a:hover {
    color: orangered;
}

:focus {
    outline: none;
    box-shadow: 0 0 1px 1px orangered, 0 0 1px orangered inset;
}

::selection {
    background: transparentize(orangered, 0.8);
    color: black;
}

::-moz-selection {
    background: transparentize(orangered, 0.8);
    color: black;
}

/* block elements */

aside, p {
    margin-top: 1rem;
    margin-bottom: 0;
}

article, aside, footer, header, nav, section, main {
    display: block;
}

pre {
    margin: 0;
}

.lead {
    font-size: 1.4em;
    line-height: 1.3;
    text-align: left;
    letter-spacing: -.05em;
}

@media print, screen and (min-width: 42em) {
    .tldr-left {
        width: 18rem;
        clear: left;
        float: left;
    }

    .tldr-right {
        //width: 18rem;
        //clear: right;
        //float: right;
        //margin-left: 1em;
    }

    p {
        /* I assume the text is probably hyphenated using &shy; */
        text-align: justify;
    }
}