$line-height: 1.5;
$paragraph-margin: .5rem;

body {
    margin: 0;
    background-color: white;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: $line-height;
    color: #333;

    // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

strong, b {
    // since i use bold so rarely I decided that loading an extra font weight would be a waste.
    // In this case, I prefer platform consistency over style which is why I prefer Arial here.
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

pre, code {
    font-family: "Courier New", monospace;

    // cram code tightly together
    font-size: .9rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h1, h2, h3, .headline {
    font-family: "Josefin Slab", "Times New Roman", serif;
    // I only load a 600 version of Josefin Slab
    // but since the fallback fonts look too bold with that weight i don't define it correctly here.
    // since only one weight is loaded anyways the browser will use that one.
    font-weight: 400;
    line-height: 1.1;
    color: indianred;
    margin-top: 2rem;
    margin-top: calc(4.1rem - 1.05em); // adjust for font size
    margin-bottom: 0;
    // todo fix ankers

    // better font rendering on osx
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 + h2, h2 + h3 {
    margin-top: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: indianred;
    text-decoration: none;
    -webkit-tap-highlight-color: transparentize(indianred, 0.8);
}

a:hover {
    color: orangered;
}

:focus {
    outline: none;
    box-shadow: 0 0 1px 1px orangered, 0 0 1px orangered inset;
}

::selection {
    background: transparentize(orangered, 0.8);
    color: black;
}

::-moz-selection {
    background: transparentize(orangered, 0.8);
    color: black;
}

/* block elements */

aside, p {
    margin-top: $paragraph-margin;
    margin-bottom: 0;
}

article, aside, footer, header, nav, section, main {
    display: block;
}

pre {
    margin: 0;
}

.lead {
    $lead-font-size: 1.6rem;
    $normal-line-height: $line-height * 1rem;
    $wanted-line-height: $normal-line-height * 3;
    $lead-line-height: ($wanted-line-height - $lead-font-size * 2) + 1rem;
    $lead-line-oversize: ($lead-line-height - $lead-font-size) / 3; // this calculation is a little spotty

    font-size: $lead-font-size;
    line-height: $lead-line-height;
    margin-top: $paragraph-margin - $lead-line-oversize;
    text-align: left;
    letter-spacing: -.05em;
}