{% capture image %}

{% assign content_width = 540 %}
{% assign rem_width = width | default: original.width | divided_by: 16.0 %}
{% assign rem_content_width = content_width | divided_by: 16.0 %}
{% assign alt = alt | default: site.data.images[original.path].alt | default: '' %}
{% assign attribution = attribution | default: site.data.images[original.path].attribution | default: '' %}

{% assign best_image = original %}
{% if best_image.width > content_width %}
    {% assign best_image = resized | sort: 'width' | last %}
{% endif %}

{% capture srcset %}
    {% for i in resized %}
        {{ i.path | prepend: '/' | prepend: site.baseurl }} {{ i.width }}w,
    {% endfor %}
    {% if original.width <= content_width %}
        {{ original.path | prepend: '/' | prepend: site.baseurl }} {{ original.width }}w
    {% endif %}
{% endcapture %}

{% capture sizes %}
    {% if sizes %}
        {{ sizes }}
    {% elsif rem_width < rem_content_width %}
        (max-width:{{ rem_width | plus: 2 }}rem)calc(100vw - 2rem),{{ rem_width }}rem
    {% else %}
        (max-width:{{rem_content_width}}rem)100vw,{{rem_content_width}}rem
    {% endif %}
{% endcapture %}

<amp-img srcset="{{ srcset }}"
         width="{{ original.width }}"
         height="{{ original.height }}"
         {% if alt != '' %}alt="{{ alt | escape }}"{% endif %}
         {% if attribution != '' %}title="source: {{ attribution | escape }}"{% endif %}
         {% if class %}class="{{ class | escape }}"{% endif %}
         layout="{{ layout | default: 'responsive' }}"
         sizes="{{ sizes | escape }}">
</amp-img>

<noscript>
    <img src="{{ best_image.path | prepend: '/' | prepend: site.baseurl }}"
         alt="{{ alt }}"
         {% if attribution != '' %}title="source: {{ attribution | escape }}"{% endif %}
         {% if property != '' %}property="{{ property | escape }}"{% endif %}
         {% if class %}class="{{ class | escape }}"{% endif %}>
</noscript>

{% endcapture %}{{ image | strip_newlines | replace: '    ', '' }}
