{% capture image %}

{% assign rem_width = width | default: original.width | divided_by: 16.0 %}

{% assign best_image = original %}
{% if best_image.width > 1280 %}
    {% assign best_image = resized | sort: 'width' | last %}
{% endif %}

{% capture srcset %}
    {% for i in resized %}
        {{ i.path | prepend: site.baseurl | prepend: '/' }} {{ i.width }}w,
    {% endfor %}
    {% if original.width <= 1280 %}
        {{ original.path | prepend: site.baseurl | prepend: '/' }} {{ original.width }}w
    {% endif %}
{% endcapture %}

{% capture sizes %}
    {% if sizes %}
        {{ sizes }}
    {% elsif rem_width < 34 %}
        (max-width:{{ rem_width | plus: 2 }}rem)calc(100vw - 2rem),{{ rem_width }}rem
    {% else %}
        (max-width:36rem)100vw,34rem
    {% endif %}
{% endcapture %}

<amp-img srcset="{{ srcset }}"
         width="{{ original.width }}"
         height="{{ original.height }}"
         {% if alt %}alt="{{ alt }}"{% endif %}
         layout="responsive"
         sizes="{{ sizes }}">
</amp-img>

<noscript>
    <img src="{{ best_image.path | prepend: site.baseurl | prepend: '/' }}"
         alt="{{ alt }}"
         {% if property %}property="{{ property }}"{% endif %}>
</noscript>

{% endcapture %}{{ image | strip_newlines | replace: '    ', '' }}