main {
    display: table; /* prevent margin overflow */
    width: 100%;
    min-height: 100vh;
}

.page-footer {
    min-height: 3em;
    margin-top: 6em;
    padding: .5em 1rem;

    background-color: #222;
    /*border-top: 1px solid black;*/
    /*box-shadow: 0 .3em .3em -.3em rgba(0,0,0,1) inset, 0 0 2em rgba(0,0,0,.2) inset;*/

    color: white;
    font-size: .7em;
}

.page-footer__copyright {
    display: block;
    float: left;
}

.page-footer__nav {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}


.page-footer__nav > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media (min-width: 42em) {
    .page-footer {
        padding-left: calc(50% - 20rem);
        padding-right: calc(50% - 20rem);
    }
}