---
---
<!DOCTYPE html>
<html lang="{{ page.language }}" ⚡>
    <head>
        <meta charset="utf-8">

        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet">

        <title>{{ page.title }}</title>

        <meta name="theme-color" content="#CD5C5C">

        <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <script type="application/ld+json">{{ site.website_schema | jsonify }}</script>

        {% include page/amp-boilerplate.html %}

        <style amp-custom>
{% include page/typography.css %}
{% include page/layout.css %}
{{ layout.styles }}
{{ page.styles }}
        </style>
    </head>
    <body>

{% include page/header.html %}

{{ content | hyphenate }}

{% include page/footer.html %}

    </body>
</html>