---
layout: base
amp_tags:
    amp-timeago: https://cdn.ampproject.org/v0/amp-timeago-0.1.js
    amp-iframe: https://cdn.ampproject.org/v0/amp-iframe-0.1.js
styles: >

    amp-timeago {
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
    }

    .post__subheadline {
        color: indianred;
        margin-top: .1em;
    }

    .post__content > amp-img,
    .post__content > noscript > img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .post__comments {
        margin-top: 4rem;
        margin-bottom: 4rem;
        max-width: $full-content-size;
    }

    .author__meta {
        display: table;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .author__image,
    .author__body {
        display: table-cell;
        vertical-align: middle;
    }

    .author__image {
        width: 160px;
    }

    main aside {
        margin-top: 4rem;
    }

    .author__image {
        width: 80px;
        float: left;
        padding-right: .5rem;
    }

    .author__image > amp-img,
    .author__image > noscript > img {
        border-radius: 50%;
    }

    .author__name {
        margin: 0;
        padding: 0;
    }

    .author__twitter {
        display: block;
    }

    @media print {
        .post__comments {
            display: none;
        }
    }
---

<main class="post" vocab="http://schema.org/" typeof="BlogPosting" resource="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta property="mainEntityOfPage" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

    <header class="page-content">
        <h1 class="post__headline" property="headline">
            {{ page.title | strip | escape }}
        </h1>

        <p class="post__subheadline">
            published
            <amp-timeago datetime="{{ page.date | date_to_xmlschema }}" property="datePublished" cutoff="15768000" width="15em" height="1.5em">
                {{ page.date | date_to_long_string }}
            </amp-timeago>
            {% capture modify_html %}

            {% assign modify_day = page.lastmod | default: page.date | date: "%s" | divided_by: 86400 %}
            {% assign create_day = page.date | date: "%s" | divided_by: 86400 %}
            {% assign first_day_to_show_modified = create_day | plus: 30 %}
            {% if first_day_to_show_modified < modify_day %}

            <br>
            zuletzt bearbeitet
            <amp-timeago datetime="{{ page.lastmod | date_to_xmlschema }}" property="dateModified" cutoff="15768000" width="15em" height="1.5em">
                am {{ page.lastmod | date_to_long_string }}
            </amp-timeago>

            {% else %}

            <meta property="dateModified" content="{{ page.lastmod | default: page.date | date_to_xmlschema }}">

            {% endif %}

            {% endcapture %}{{ modify_html | strip }}
        </p>

        <p class="post__lead lead" property="description">
            {{ page.description | strip | escape }}
        </p>
    </header>

    <div class="post__content page-content" property="articleBody">
        {{ content }}
    </div>

    <aside class="page-content">
        <div hidden typeof="Organization" property="publisher">
            <meta property="name" content="{{ site.title }}">
            <div property="logo" typeof="ImageObject">
                <meta property="url" content="{{ '/assets/marco-zone-text.png' | prepend: site.baseurl | prepend: site.url }}">
                <meta property="width" content="378">
                <meta property="height" content="60">
            </div>
        </div>

        <figure class="post__similar">
            {% for category in page.categories %}
            <h2>Similar "{{category}}" posts</h2>
            <ul>
                {% assign categoryPages = site.categories[category]|where_exp:"item", "item.url != page.url" %}
                {% for categoryPage in categoryPages limit: 5 %}
                <li>
                    <a href="{{ categoryPage.url | prepend: site.baseurl }}">
                        {{ categoryPage.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </figure>

        <figure class="post__author" id="author">
            <h2>Author:</h2>
            <div class="author" property="author" typeof="Person">
                <div class="author__meta">
                    <div class="author__image">
                        {% responsive_image path: "assets/person/marco-desaturate.jpg" property: "image" sizes="10rem" %}
                    </div>
                    <div class="author__body">
                        <h3 class="author__name" property="name">Marco Pfeiffer</h3>
                        <a class="author__twitter" href="https://twitter.com/TheTrueNemo">@TheTrueNemo</a>
                    </div>
                </div>
            </div>
        </figure>

        {% if false %}
            <iframe height="320"
                    id="comments"
                    class="post__comments"
                    sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                    style="width: 100%"
                    resizable
                    frameborder="0"
                    src="/comments?title={{ page.title | url_encode }}&url={{  page.url | url_encode }}"></iframe>
        {% else %}
            <amp-iframe height="320"
                        id="comments"
                        class="post__comments"
                        sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                        resizable
                        frameborder="0"
                        src="{{ site.url2 }}/comments?title={{ page.title | url_encode }}&url={{  page.url | url_encode }}">
                <div overflow tabindex="0" role="button" aria-label="Mehr lesen!">Mehr lesen!</div>
            </amp-iframe>
        {% endif %}
    </aside>

</main>

