---
layout: base
amp_tags:
    amp-iframe: https://cdn.ampproject.org/v0/amp-iframe-0.1.js
styles: >
    .post__subheadline {
        font-size: .7em;
        color: indianred;
        margin-top: 0;
        margin-bottom: 0;
    }

    .post__content > amp-img,
    .post__content > noscript > img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .author__meta {
        display: table;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .author__image,
    .author__body {
        display: table-cell;
        vertical-align: middle;
    }

    .author__image {
        width: 160px;
    }

    .post__author {
        margin-top: 4rem;
    }

    .author__image {
        width: 80px;
        float: left;
        padding-right: .5rem;
    }

    .author__image > amp-img,
    .author__image > noscript > img {
        border-radius: 50%;
    }

    .author__name {
        margin: 0;
        padding: 0;
    }

    .author__twitter {
        display: block;
    }
---

<article class="post"
         itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting"
         itemid="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

    <header class="page-content">
        <h1 class="post__headline" itemprop="headline">
            {{ page.title | strip }}
        </h1>

        <p class="post__subheadline">
            {% include time.html itemprop="datePublished" time=page.date %}
            von <a href="#author">{{ site.authors[page.author].name }}</a>
            {% if page.lastmod %}(Bearbeitet am {% include time.html itemprop="dateModified" time=page.lastmod %}){% endif %}
        </p>

        <p class="post__lead lead" itemprop="description">
            {{ page.description | strip }}
        </p>
    </header>

    <div class="post__content page-content" itemprop="articleBody">
        {{ content }}
    </div>

    <aside class="post__author page-content" id="author">
        <figure>
            <h2>Author:</h2>
            <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <div class="author__meta">
                    <div class="author__image">
                        {% responsive_image path: "assets/person/marco-desaturate.jpg" itemprop: "image" sizes="10rem" %}
                    </div>
                    <div class="author__body">
                        <h3 class="author__name" itemprop="name">Marco Pfeiffer</h3>
                        <a class="author__twitter" href="https://twitter.com/TheTrueNemo">@TheTrueNemo</a>
                    </div>
                </div>
            </div>
        </figure>
    </aside>

</article>

