---
layout: base
styles: >
    .post__subheadline {
        font-size: .7em;
        color: indianred;
    }

    .post__content > amp-img,
    .post__content > noscript > img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .author__meta {
        display: table;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .author__image,
    .author__body {
        display: table-cell;
        vertical-align: middle;
    }

    .author__image {
        width: 160px;
    }

    .post__author {
        margin-top: 4rem;
    }

    .author__image {
        width: 80px;
        float: left;
        padding-right: .5rem;
    }

    .author__image > amp-img,
    .author__image > noscript > img {
        border-radius: 50%;
    }

    .author__name {
        margin: 0;
        padding: 0;
    }

    .author__twitter {
        display: block;
    }
---

<article class="post" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting"
         itemid="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

    <h1 class="post__headline container" itemprop="headline">
        {{ page.title | strip }}
    </h1>

    <div class="post__subheadline container">
        <time class="post__head-date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date_to_long_string }}
        </time>
        <meta itemprop="dateModified" content="{{ post.lastmod | default: post.date |date_to_xmlschema }}">
        von
        <a href="#author">{{ site.authors[page.author].name }}</a>
    </div>

    <p class="post__lead lead container" itemprop="description">
        {{ page.description | strip }}
    </p>

    <div class="post__content container" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="post__author container" id="author">
        <figure>
            <h2>Author:</h2>
            <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <div class="author__meta">
                    <div class="author__image">
                        {% include image.html path="person/marco-desaturate.jpg" itemprop="image" width=160 height=160 %}
                    </div>
                    <div class="author__body">
                        <h3 class="author__name" itemprop="name">Marco Pfeiffer</h3>
                        <a class="author__twitter" href="https://twitter.com/TheTrueNemo">@TheTrueNemo</a>
                    </div>
                </div>
            </div>
        </figure>
    </div>

</article>

